<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/menu-admin.css">
</head>


<body>

<div class ="menu">

  <th:block th:fragment="adminheader">
        <a class ="link" href="/index">Главная</a>
        <a class ="link" href="/admin/users">Администрирование</a>
        <a class ="link" href="/admin/items">Товары</a>
        <a class ="link" href="/admin/orders">Заказы</a>
        <a class ="link" href="/logout">Выйти</a>
    </th:block>

</div>

</body>
</html>