<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<th:block th:fragment="header">
    <header id="header"><!--header-->
        <div class="header_top"><!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i>8 800 123 45 67</a></li>
                                <li><a href="/contacts"><i class="fa fa-envelope"></i>knittingshop@list.ru</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="https://vk.com/feed"><i class="fa fa-vk"></i></a></li>
                                <li><a href="https://www.youtube.com/?app=desktop&hl=ru"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle"><!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="/index"><img src="/images/home/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="/account"><i class="fa fa-user"></i>Личный кабинет</a></li>
                                <li><a href="/cart"><i class="fa fa-shopping-cart"></i> Корзина</a></li>
                                <li><a href="/login"><i class="fa fa-lock"></i>Регистрация</a></li>
                                <li><a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))"
                                       href="/admin"><i class="fa fa-lock"></i>ADMIN</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom"><!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="/index" class="active">Главная</a></li>
                                <li class="dropdown"><a href="#">Магазин<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/products">Товары</a></li>
<!--                                        <li><a href="/productdetails">Детализация товара</a></li>-->
                                        <li><a href="/cart">Корзина</a></li>
                                        <li><a href="/login">Регистрация</a></li>
                                    </ul>
                                </li>
                                <li><a href="/delivery">Доставка</a></li>
                                <li><a href="/contacts">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
<!--                        <div class="search_box pull-right">-->
<!--                            <input type="text" placeholder="Поиск"/>-->

                            <form th:action="@{/search}" method="post">
                                <input type="text" placeholder="Поиск" name="keyword" id="keyword" size="25" th:value="${keyword}" required />
                                <input type="submit" value="Найти" />
                                <input type="button" value="Очистить" id="btnClear" onclick="clearSearch()" />
                            </form>

<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->

</th:block>

    <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/}]]";
        }
    </script>

</body>
</html>